hrm/web/wsdl/manageemployee_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Impl.services.ws/" elementFormDefault="unqualified" targetNamespace="http://Impl.services.ws/" version="1.0">
<xs:element name="addBankDetails" type="tns:addBankDetails"/>
<xs:element name="addBankDetailsResponse" type="tns:addBankDetailsResponse"/>
<xs:element name="addEmployee" type="tns:addEmployee"/>
<xs:element name="addEmployeeResponse" type="tns:addEmployeeResponse"/>
<xs:element name="changeEmployeePassword" type="tns:changeEmployeePassword"/>
<xs:element name="changeEmployeePasswordResponse" type="tns:changeEmployeePasswordResponse"/>
<xs:element name="editBankDetailsByEmployeeId" type="tns:editBankDetailsByEmployeeId"/>
<xs:element name="editBankDetailsByEmployeeIdResponse" type="tns:editBankDetailsByEmployeeIdResponse"/>
<xs:element name="editEmployeeById" type="tns:editEmployeeById"/>
<xs:element name="editEmployeeByIdResponse" type="tns:editEmployeeByIdResponse"/>
<xs:element name="getAllEmployees" type="tns:getAllEmployees"/>
<xs:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>
<xs:element name="getBankDetailsByEmployeeId" type="tns:getBankDetailsByEmployeeId"/>
<xs:element name="getBankDetailsByEmployeeIdResponse" type="tns:getBankDetailsByEmployeeIdResponse"/>
<xs:element name="getEmployeeById" type="tns:getEmployeeById"/>
<xs:element name="getEmployeeByIdResponse" type="tns:getEmployeeByIdResponse"/>
<xs:element name="getEmployeeByUsername" type="tns:getEmployeeByUsername"/>
<xs:element name="getEmployeeByUsernameResponse" type="tns:getEmployeeByUsernameResponse"/>
<xs:element name="registerEmployeeForGradTraining" type="tns:registerEmployeeForGradTraining"/>
<xs:element name="registerEmployeeForGradTrainingResponse" type="tns:registerEmployeeForGradTrainingResponse"/>
<xs:element name="removeBankDetailsByEmployeeId" type="tns:removeBankDetailsByEmployeeId"/>
<xs:element name="removeBankDetailsByEmployeeIdResponse" type="tns:removeBankDetailsByEmployeeIdResponse"/>
<xs:element name="removeEmployeeById" type="tns:removeEmployeeById"/>
<xs:element name="removeEmployeeByIdResponse" type="tns:removeEmployeeByIdResponse"/>
<xs:element name="searchEmployeeByName" type="tns:searchEmployeeByName"/>
<xs:element name="searchEmployeeByNameResponse" type="tns:searchEmployeeByNameResponse"/>
<xs:element name="unregisterEmployeeFromGradTraining" type="tns:unregisterEmployeeFromGradTraining"/>
<xs:element name="unregisterEmployeeFromGradTrainingResponse" type="tns:unregisterEmployeeFromGradTrainingResponse"/>
<xs:complexType name="registerEmployeeForGradTraining">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="registerEmployeeForGradTrainingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeBankDetailsByEmployeeId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeBankDetailsByEmployeeIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unregisterEmployeeFromGradTraining">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element name="arg3" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="unregisterEmployeeFromGradTrainingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addBankDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element name="arg5" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addBankDetailsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="changeEmployeePassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element name="arg4" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="changeEmployeePasswordResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editEmployeeById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element name="arg8" type="xs:int"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element minOccurs="0" name="arg10" type="xs:string"/>
      <xs:element name="arg11" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editEmployeeByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEmployeeByUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEmployeeByUsernameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="employeeAddress" type="xs:string"/>
      <xs:element name="employeeDepartment" type="xs:int"/>
      <xs:element minOccurs="0" name="employeeEmail" type="xs:string"/>
      <xs:element name="employeeId" type="xs:int"/>
      <xs:element minOccurs="0" name="employeeJoined" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="employeeName" type="xs:string"/>
      <xs:element minOccurs="0" name="employeePassword" type="xs:string"/>
      <xs:element minOccurs="0" name="employeePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="employeeRole" type="xs:string"/>
      <xs:element minOccurs="0" name="employeeSSN" type="xs:string"/>
      <xs:element minOccurs="0" name="employeeSurname" type="xs:string"/>
      <xs:element minOccurs="0" name="employeeUsername" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEmployeeById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getEmployeeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element name="arg7" type="xs:int"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element name="arg10" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addEmployeeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllEmployees">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getAllEmployeesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchEmployeeByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="searchEmployeeByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeEmployeeById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeEmployeeByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editBankDetailsByEmployeeId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element name="arg4" type="xs:int"/>
      <xs:element name="arg5" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="editBankDetailsByEmployeeIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getBankDetailsByEmployeeId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element name="arg1" type="xs:int"/>
      <xs:element name="arg2" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getBankDetailsByEmployeeIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:bankDetails"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="bankDetails">
    <xs:sequence>
      <xs:element name="accountNumber" type="xs:int"/>
      <xs:element name="bankDetailsId" type="xs:int"/>
      <xs:element minOccurs="0" name="bankName" type="xs:string"/>
      <xs:element name="employeeId" type="xs:int"/>
      <xs:element name="sortCode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
